$orange: #f94000;
$blue: #4acbf3;
$yellow: #ffce12;
$green: #92c345;
$purple: #8177b4;
$white: #fff;


html, body {height:100%;}

//menu
.navbar-default{
  background-color: $blue;
}
.navbar-default .navbar-nav > li > a{
  color: $white;
}

.container.first{
  height: 100%;
}

.rede-social{
  a{
    background-color: $white;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    text-align: center;
    margin-left: 10px; 
    margin-top: 10px;
    &:hover{
      background-color: $white !important;
    }
  }
  .fa-facebook{
    display: block;
    position: absolute;
    top: 8px;
    left: 11px;
    color: $blue;
  }
  .fa-youtube{
    font-size: 19px;
    display: block;
    position: absolute;
    top: 7px;
    left: 8px;
    color: $blue;
  }
}

.youtube{
  margin-right: 20px;    
}


//carrosel
#myCarousel{
  margin-bottom: 40px;
  
  .carousel-inner{
    max-height: 540px;    
    position: relative;
  } 

  .text-image{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 70px;
    color: #fff;
    font-size: 30px;
    left: 37px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
}

@media screen and (min-width: 768px){
  .carousel-control .glyphicon-chevron-left{
    margin-left: -50px;
  }
  .carousel-control .glyphicon-chevron-right{
    margin-right: -50px;
  }   
}
@media (min-width: 768px){
  .navbar-right{
    display: block !important;
  }
}


.navbar-right{
  display: none;
}

.col-md-4{
  text-align: center;
}

//setas
.glyphicon-chevron-left, .glyphicon-chevron-right{
  &:before{
    color: $green;
  }
}

.carousel-indicators .active{
  background-color: $green;
}

//chamadas
.row.chamadas{
  margin-top: 30px;
}

.chamada-info{
  color: $orange;
}

.text-info{
 color: $purple;
}

.featurette-heading{
  color: $green;
}

.text-muted{
  color: $green;
}

.lead{
  color: #333;
}

//botoes
.btn.btn-default{
  background-color: $green;
  color: $white;
}

.link-comum{
  text-decoration: none !important
}

// formulario
@media (min-width: 992px){
  .col-md-8.email{
    float: none;
    margin: 0 auto;    
    height: 100%;
  }
  .embed-responsive{
    width: 420px;
    height: 315px;  
    margin: 0 auto;
    padding-bottom: 0px;  
  }
}



.btn-default{
  margin-top: 10px;
}

.form-control{
  margin-bottom: 15px;
}



//conteudo
.paragrafo{
  margin-left: 20px;
}

.video{
  display: block;
  margin: 0 auto;
}

.conteudo-img{
  margin: 0 auto;
  display: block;
  width: 500px;
  margin-top: 40px;
}

.texto{
  font-size: 16px;
}

.texto-conteudo{
  font-size: 16px;
  text-indent: 21px;
  text-align: justify;  
}

.texto-conteudo.lista{
  text-indent: 0px;
}

.quebra{
  display: block;
  clear: both;
}

footer{
  color: $blue; 
}
